.recipes{
    background: linear-gradient(90deg, #2d69dada 0%, 
    #2d69dada 100%);
    width: 152px;
    height: 55px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    
}

.chef-title , .banner-title, .question-title, .special-title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: #1a1919ca;
}
.chef-name, .recipe-name, .dishes-name{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #535252;
}
.ingredients{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #313030;
}
.experience, .likes, .cooking-method, .dishes-des{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #1A1919;
}
