
.width {
    width: 1280px;
    margin: 0 auto;
}

.banner-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 70px;
    color: #1A1919;

}

.text-linear {
    background: linear-gradient(90deg, #2569b6b8 0%, #2d69dada 100%);
    background-clip: text;
}

.banner-describe{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.get-started-btn {
    background: linear-gradient(90deg, #2569b6b8 0%, 
    #2d69dada 100%);
    width: 172px;
    height: 65px;
    margin-top: 32px;
}

.banner-img img {
    width: 816px;

}


@media screen and (max-width: 680px) {
    .width {
        width: 100%;
        text-align: center;
        padding: 0 15px;
    }

    .banner-title {
        font-size: 24px;
        line-height: 40px;
    }

    .banner-describe {
        font-size: 16px;
    }
    .banner-img img {
        width: 90%;
        display: block;
        margin: 20px auto;
    }

}